<!DOCTYPE html>
<html>
<head>
	<title>Editing Config Files</title>
	<script type="text/javascript">

		function set_conf_name(id_from,id_to) {
			var file_path = document.getElementById(id_from).value;
			var regex = /\\|\\/;//split by "/" and "\"
			var file_name = file_path.split(regex);
			var name = file_name[file_name.length - 1].split('.');
			document.getElementById(id_to).value=name[0].toLowerCase();//uppercase is dangerous
		}
		/*
		var new_input_num = 2;
		function add_input(){
			//add <tr> id
			var para_tr=document.createElement("tr");
			para_tr.id="tr"+new_input_num ;
			document.getElementById("new_input").appendChild(para_tr);
			//add text <td>
			var para_td=document.createElement("td");
			var node_td=document.createTextNode("Script File "+new_input_num+":");
			para_td.appendChild(node_td);
			document.getElementById(para_tr.id).appendChild(para_td);
			//add input <td>
			para_td=document.createElement("td");
			para_td.id="td"+new_input_num;
			document.getElementById(para_tr.id).appendChild(para_td);
			//add input
			para_input=	document.createElement("input");
			para_input.type="file";
			para_input.name="script_file"+new_input_num;
			para_input.id=para_input.name;
			//para_input.align="right";
			//para_input.onchange="add_input()";
			document.getElementById(para_td.id).appendChild(para_input);
			new_input_num++;
		}*/
	</script>
	<style type="text/css">
	 #warn {color:red;}
	//p {color:blue;}
	</style>
</head>

<body>
	<h2> Please upload your config files...</h2>
	<!--<p id="warn" >WARNING:DO NOT OVERWRITE "dg_" CONFIGS!</p>
	<p>"Config Name" and "JSON File"'s name must be same!</p>-->
	<form method="post" action="/upload_conf" enctype="multipart/form-data">
	<table id="new_input">
		<caption><p id="warn" >WARNING : DO NOT OVERWRITE "dg_" CONFIGS!</p></caption>
		
		
		
		<!--<tr>
			<td>Config Name: </td>
			<td><input type="text" name="conf_name" id="conf_name" required="required" disabled/></td>
		</tr>-->
		<tr>
			<td>Config File(zip):</td>
			<td><input type="file" name="config_file" id="config_file" required="required" onchange="set_conf_name('config_file','conf_name')"/></td>
		</tr>
		<tr>
			<td>Your Config Install As: </td>
			<td><input type="text" name="conf_name" id="conf_name" required="required" disabled/></td>
		</tr>
		<!--<tr>
			<td>Script File:</td>
			<td><input type="file" name="script_file" id="script_file" required="required"/></td>	
		</tr>-->
		
		<tr>
			<td></td>
			<td align="right">
				<input type="submit" value="Install This Config"/>
			</td>
		</tr>
		<tr>
          <td align="left">-------------------</td>
          <td align="right">----------------------</td>
        </tr>
        <tr>
		  <td><button type="button" onclick="location.href='./'"  >Return to Index</button></td>
		  <td align="right"><button type="button" onclick="location.href='./set_db'" >Edit DataBase</button></td>
		</tr>

	</table>
	</form>
	<!--<table>
		<tr>
          <td align="left">++++++++++++++++++++++</td>
          <td align="right"><button onclick="add_input()">Additional Scripts</button></td>
        </tr>
	</table>-->
	<h4>All Added Configs Shown Here:</h4>
	
	<table>
	<% configs_list.forEach(function(config){ %>
	<tr>
		<td><%= config %></td>
		<td>
			<form method="GET" action="/del_conf">
			<input type="hidden" name="title" value="<%= config %>"/>
			<input type="hidden" name="title_next" value="Edit Configs"/>
			<input type="hidden" name="jump_time" value="2000"/>
			<input type="hidden" name="href" value="./upload_page"/>
			<input type="hidden" name="msg" value="Deleting Config <%= config %> ..."/>
			<input type="hidden" name="config_name" value="<%= config %>"/>
			<input type="submit" value="Delete" />
			</form>
		</td>
	</tr>
	<% }) %>

	</table>
	
</body>
</html>